<h1>{{title}}</h1>
<p><b>Welcome to {{title}}</b></p>
<p>Our goal here is to let you know your elected representatives better</p>
<p><i>Please enter the full address of the representative you wish to search about:</i></p>
<form method = "post" action = "/">
<p><input name = "address" type = "text" placeholder = "Enter the full address" size="64" style = "height:25px"></p>
<input type = "submit">
</form>
